.header {
  height: 200px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #194d33;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  color: #194d33;
}

.navigation a {
  text-decoration: none;
  color: #61dbfb;
  font-size: 22px;
  letter-spacing: 2px;
}

.navigation a:hover {
  color: #e31b6d;
  padding-bottom: 13px;
  border-bottom: 2px solid #e31b6d;
}

.active:active {
  color: #e31b6d;
  border-bottom: 2px solid #e31b6d;
}

/* Portrait and Landscape */
@media (max-width: 768px) {
  ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: #194d33;
  }
  .navigation {
    justify-content: center;
  }
  .navigation a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #61dbfb;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media (max-width: 540px) {
  .navigation a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #61dbfb;
    font-size: 15px;
    letter-spacing: 2px;
  }
  ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: #194d33;
    padding: 15px;
    padding-right: 0;
  }
  .navigation {
    margin-top: 20px;
  }
}

@media only screen and (max-device-width: 375px) {
  .navigation a {
    text-decoration: none;
    color: #61dbfb;
    font-size: 16px;
    letter-spacing: 2px;
  }
  ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: #194d33;
    padding: 15px;
    padding-right: 0;
  }
  .navigation {
    margin-top: 20px;
  }
}
